.class-float{
    float: right;
}

.text-right{
 text-align: center;
 margin: 25px;
}

.header{
    text-align: center;
}

.set-border{
    border: 1px solid grey;
    border-radius: 5%;

}

.class-spacing{
    margin: 10px;
}